.content{
    display: flex;
    align-items: center;
}
button{
    width: 150px;
    height: 170px;
    height: 30px;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.random{
    position: absolute;
    width: 1900px;
    height:600px ;
    background-color: rgb(236, 232, 232);
    z-index: -1;
    left: -80px;
    top: -150px;
    transform: rotate(-15deg);
}